@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/bootstrap.min14ed.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome4.7.min12.css" rel="stylesheet" />
    <link href="~/Content/js/layui/css/layui.css" rel="stylesheet" />
    @RenderSection("css", required: false)
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/jquery-extends")*@
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?b74709fc39f4f8555f6437c174875680";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <script src="~/Content/js/global.js?v=1"></script>
    <script src="~/Content/js/common.js?v=2"></script>
    <script src="~/Content/js/vue/vue.min.js"></script>
    <script src="~/Content/js/layui/layui.all.js"></script>
    <script src="~/Content/js/plugins/validator.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
