@using Mock.Data.Dto
@{
    ArtDetailDto entry = ViewData["ArticleDto"] as ArtDetailDto;
    Layout = "~/Views/Shared/_LayoutBlog.cshtml";
    ViewBag.Title = entry.Title;
    ViewBag.description = entry.Excerpt;
    ViewBag.keywords = entry.Keywords;
}
@using Mock.Data;
@using Mock.Data.AppModel
<div class="container" style="margin-top:80px;" id="v-app">
    <div class="row">
        <div class="col-md-8 col-xs-12">
            <div class="navcates">
                <i class="fa fa-home"></i>当前位置：<a href="/" target="_blank" title="entry.Title">首页</a><i class="fa fa-angle-right"></i>
                @if (entry.TypeName.IsNotNullOrEmpty())
                {
                    <a href="/App/Category?category=@entry.TypeCode" target="_blank" title="@entry.TypeName">@entry.TypeName</a><i class="fa fa-angle-right"></i>
                }
                <a href="/App/Detail/@entry.Id" rel="bookmark" target="_blank" title="@entry.Title">@entry.Title</a>
            </div>

            <div class="content single-content">
                <header class="post-head">
                    <h4><a href="/App/Detail/@entry.Id" target="_blank" title="正在阅读 @entry.Title">@entry.Title</a></h4>
                    <div class="info left">
                        <!-- 文章信息 -->
                        @if (entry.TypeName.IsNotNullOrEmpty())
                        {
                            <span class="category"><i class="fa fa-list-alt"></i><a href="/app/category?category=@entry.TypeCode">@entry.TypeName</a></span>
                        }

                        <span class="date"><i class="fa fa-clock-o"></i>@entry.CreatorTime</span>
                        <span class="view"><i class="fa fa-eye"></i>浏览(@entry.ViewHits)</span>
                        <span class="comment"><i class="fa fa-comment"></i><a href="#review-form">评论(@entry.CommentQuantity)</a></span>
                    </div>
                </header>
                <div class="entry">
                    @Html.Raw(entry.Content)
                    <div id="social" v-cloak>
                        <div class="social-main">
                            <span class="like">
                                <a href="javascript:void(0);" v-on:click="point_art" title="点赞" class="favorite done">
                                    <i class="fa fa-thumbs-up"></i>赞
                                    {{pointQuantity}}
                                </a>
                            </span>
                            <div class="shang-p">
                                <div class="shang-empty"><span></span></div>
                                <span class="tipso_style">
                                    <span class="shang-s"><a title="赞助本站">赏</a></span>
                                </span>
                            </div>
                            <div class="share-sd">
                                <span class="share-s"><a href="javascript:void(0)" id="share-s" title="分享"><i class="fa fa-share-alt"></i>分享</a></span>
                                <div id="share" style="display: none;">
                                    <ul class="bdsharebuttonbox bdshare-button-style1-16" data-bd-bind="1506151460593">
                                        <li><a title="分享到QQ空间" class="fa fa-qq" data-cmd="qzone" onclick="return false;" href="#"></a></li>
                                        <li><a title="分享到新浪微博" class="fa fa-weibo" data-cmd="tsina" onclick="return false;" href="#"></a></li>
                                        <li><a title="分享到微信" class="fa fa-weixin" data-cmd="weixin" onclick="return false;" href="#"></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>

                </div>
                <div class="tags">
                    标签：
                </div>
                <div class="authorarea">
                    <div class="authorinfo">
                        <div class="author-avater">
                            <img class="avaterimg" alt="@entry.NickName" title="作者：@entry.NickName " src="@entry.Avatar" height="50" width="50" onerror="com.nofind()">
                        </div>
                        <div class="author-des">
                            <div class="author-meta">
                                <span class="post-author-name"><a href="" title="由 @entry.NickName 发布" rel="author">@entry.NickName</a></span>
                                @*<span class="post-author-tatus"><a href="/app/author-1" target="_blank">258篇文章</a></span>*@
                                <template v-for="item in ArtTag">
                                    <span class="post-author-weibo"><a :href="'/App/Category?tag='+item.Code" target="_blank" v-text="item.Text"></a></span>
                                </template>
                            </div>
                            <p class="author-description">@entry.PersonSignature </p>
                        </div>
                    </div>
                </div>
                @* 上下一个文章 *@
                <div class="row nav-single">
                    @if (entry.PreviousPage != null)
                    {
                        <a href="/App/Detail/@entry.PreviousPage.Id">
                            <div class="col-md-6 col-xs-6 text-center meta-nav">
                                <span>
                                    <i class="fa fa-angle-left"></i> 上一篇
                                </span>
                                <br />
                                @entry.PreviousPage.Text
                            </div>
                        </a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">
                            <div class="col-md-6 col-xs-6 text-center meta-nav">
                                <span>
                                    <i class="fa fa-angle-left"></i>到起点了
                                </span>
                                <br />
                                你点我也没有用!
                            </div>
                        </a>
                    }
                    @if (entry.NextPage != null)
                    {
                        <a href="/App/Detail/@entry.NextPage.Id">
                            <div class="col-md-6  col-xs-6 text-center meta-nav">
                                <span>
                                    下一篇<i class="fa fa-angle-right"></i>
                                </span>
                                <br />
                                @entry.NextPage.Text
                            </div>
                        </a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">
                            <div class="col-md-6  col-xs-6 text-center meta-nav">
                                <span>
                                    已经到终点了<i class="fa fa-angle-right"></i>
                                </span>
                                <br />你点我也没有用!
                            </div>
                        </a>
                    }
                </div>

                <!--推荐文章-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="cat-box fadeInUp" data-wow-delay="0.3s">
                            <h3 class="cat-title"><a href="/App/Category?category=Relate" title=""><i class="fa fa-heartbeat"></i>相关文章<i class="fa fa-angle-right"></i></a></h3>
                            <div class="cat-site">
                                <ul class="cat-list">
                                    <template v-for="item in RelateArt">
                                        <li class="list-date" v-text="item.code"></li>
                                        <li class="list-title"><i class="fa fa-angle-right"></i><a :href="'/App/Detail/'+item.Id" v-text="item.Text"></a></li>
                                    </template>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="cat-box  fadeInUp" data-wow-delay="0.3s">
                            <h3 class="cat-title"><a href="/App/Category?category=Random" title=""><i class="fa fa-heartbeat"></i>随机文章<i class="fa fa-angle-right"></i></a></h3>
                            <div class="cat-site">
                                <ul class="cat-list">
                                    <template v-for="item in RandomArt">
                                        <li class="list-date" v-text="item.code"></li>
                                        <li class="list-title"><i class="fa fa-angle-right"></i><a :href="'/App/Detail/'+item.Id" rel="bookmark" v-text="item.Text"></a></li>
                                    </template>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!---评论-->
                <div class="scroll-comments">
                    <div class="comment-respond">
                        <h3> <i class="fa fa-comments"></i>&nbsp;吐槽一下</h3>
                        <form id="review-form">
                            <input type="hidden" name="AId" v-model="reply.AId" />
                            <input type="hidden" name="PId" v-model="reply.PId">
                            <label>QQ</label><input class="form-control" maxlength="12" v-model="reply.QQ" name="QQ" type="text" placeholder="请输入您的QQ" />
                            <label for="AuName">昵称<strong>（必填)</strong></label> <input type="text" class="form-control" isvalid="yes" checkexpession="NotNull" name="AuName" v-model="reply.AuName" placeholder="输入你的昵称" errormsg="昵称" />
                            <label for="AuEmail">邮箱<strong>（必填)</strong></label><input type="text" class="form-control" isvalid="yes" checkexpession="EmailAndNotNull" name="AuEmail" v-model="reply.AuEmail" placeholder="请输入正确的email" errormsg="邮箱" />
                            <label for="PersonalWebsite">网址</label><input type="text" v-model="reply.PersonalWebsite" class="form-control" name="PersonalWebsite" placeholder="这里可以输入你的个人网站" />
                            <label>评论内容<strong>（必填)</strong></label>
                            <div class="">
                                <textarea class="layui-textarea layui-editor" name="layui_edit" id="layui_edit"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="text-right">
                        <input type="button" class="btn btn-default" v-on:click="cancel" v-show="reply.PId!=0" value="取消" />
                        <span>回复：</span>
                        <input type="text" v-model="reply.PName" value="" readonly="readonly" disabled class="form-control" style="width:100px;display:inline;" />
                        <input type="button" v-on:click="submit" value="提交吐槽" class="btn btn-submit" />
                    </div>
                </div>
            </div>

            @* 评论列表 *@
            <ol class="comment-list">
                <li class="fadeInUp" v-if="review.length==0">
                    <div class="comment-body">
                        <div class="comment-author vcard">
                            <img class="avatar" src="~/Content/Images/120122x.jpg" style="display: block;">
                            <strong>
                                、天上有木月
                            </strong>
                            <span class="ua-info">
                                <span class="WB-OS">
                                    <img src="http://www.99bsy.com/wp-content/themes/begin/show-useragent/browsers/chrome.png"
                                         title="Chrome" alt="Chrome"> <img src="http://www.99bsy.com/wp-content/themes/begin/show-useragent/browsers/windows_win7.png" title="windows 7"
                                                                           alt="windows 7">
                                </span> 江苏 南京 联通
                            </span>
                            <span class="lv">博主</span>
                            <span class="comment-meta">
                                <a href="/App/Detail/1#comment-712"></a><br>
                                发表于 @DateTime.Now.ToString("")
                                <span class="floor">
                                    &nbsp;
                                </span>
                            </span>

                        </div>
                        <p>没有人评论，好凄凉啊，快来评论吧！！！</p>
                    </div>
                </li>

                <template v-for="item in review">
                    <li class="fadeInUp">
                        <div v-bind:id="'author-comment-'+ item.Id" class="comment-body">
                            <div class="comment-author vcard">
                                <img class="avatar" v-bind:src="item.Avatar" style="display: block;">
                                <strong>
                                    <a href="#">{{item.AuName}}</a>
                                </strong>
                                <span class="ua-info">
                                    <span class="WB-OS">
                                        <img src="" v-bind:title="item.Agent" v-bind:alt="item.Agent">
                                        <img src="" v-bind:title="item.System" v-bind:alt="item.System">
                                    </span>
                                    {{item.GeoPosition}} {{item.UserHost}}
                                </span>
                                <span class="comment-meta">
                                    <a href="/App/Detail/1#comment-712"></a><br>
                                    <span class="reply"><a rel="nofollow" v-on:click="reply_review(item.Id)" class="comment-reply-link" href="javascript:void(0)">回复</a></span>
                                    发表于{{item.CreatorTime}}
                                    <span class="floor">
                                        &nbsp;
                                    </span>
                                </span>
                            </div>
                            <p class="review-content">
                                <span class="at" v-show="item.PId!=0">@@<a v-bind:href="'#author-comment-'+ item.PId" v-text="item.PName"></a></span>
                                <span v-html="com.decodeText(item.Text)"></span>
                            </p>
                        </div>
                    </li>
                </template>
            </ol>
            <div id="review-page" class="text-right"></div>
        </div>
        @{Html.RenderPartial("_RightSidebar"); }
    </div>
</div>

@section css{
    <link href="~/Content/js/layui/css/font_24081_lyaxcfn8fp1iqkt9.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Content/js/plugins/validator.js"></script>
    <script>
        $(function () {
            $('.hot_post a,.hot_comment a,.hot_article a,.random_post a,.related_post a,.post_cat a,.widget_recent_entries a,.cat-list a,.tab-bd a').hover(function () {
                $(this).stop().animate({ 'marginLeft': '20px' }, 0);
            }, function () {
                $(this).stop().animate({ 'marginLeft': '10px' }, 0);
            });

            $('#share-s').click(function () {
                var type = $('#share').css('display');
                if (type == 'none') {
                    type = 'block';
                    $('#share').css('display', type);
                } else {
                    type = 'none';
                    $('#share').css('display', type);
                }
            });
        });
        var reply  ={
                    AId: @ViewBag.AId,
                    PId: 0,
                    QQ: '',
                    AuName: '',
                    AuEmail: '',
                    PersonalWebsite: '',
                    Text: '',
                    PName: '博主',
                    isLogin:false
              };
        @{
            OperatorProvider op = OperatorProvider.Provider;
            string email="", website = "",auname="";
            bool isLogin = false;
        }

        @if (op.CurrentUser == null)
        {

        }
        else
        {
            email =  op.CurrentUser.Email;
            website = op.CurrentUser.PersonalWebsite;
            auname = op.CurrentUser.NickName;
            isLogin = true;
        }

        reply.AuEmail ='@email';
        reply.PersonalWebsite = '@website';
        reply.AuName = '@auname';
        reply.isLogin = '@isLogin';
        var vm = new Vue({
            el: "#v-app",
            data: {
                AId: '@ViewBag.AId',
                review: [],
                limit: 20,
                index: "",
                reply: reply,
                pointQuantity: '@entry.PointQuantity' == '' ? 0 : '@entry.PointQuantity',
                RelateArt: [],
                Category: [],
                RecommendArt: [],
                ArchiveFile: [],
                RandomArt: [],
                ArtTag: []
            },
            mounted: function () {
                this.get_relate_list();
                this.init_datagrid();
                this.init_layedit();
            },
            methods: {
                init_layedit: function () {
                    window.setTimeout(function () {
                        vm.index = com.layEditor({
                            elem: '.layui-editor'
                        });
                    }, 1000);
                },
                init_datagrid: function () {
                    var that = this;
                    this.get_itemgrid({ 'limit': this.limit, 'offset': 0, 'AId': @ViewBag.AId }, function (json) {
                        that.layuipage(json.Total);
                    });
                },
                layuipage: function (total) {
                    layui.laypage.render({
                        elem: 'review-page',
                        limit: vm.limit,
                        count: total,
                        curr: 1,
                        groups: 5,
                        layout: ['prev', 'page', 'next', 'skip'],
                        jump: function (obj, first) {
                            //首次不执行
                            if (!first) {
                                //1.跳转分页时也需要将查询参数携带给后台，才算真正的分页效果,
                                var data = {
                                    'limit': vm.limit,
                                    'offset': (obj.curr - 1) * vm.limit,
                                    'AId': '@ViewBag.AId'
                                };
                                vm.get_itemgrid(data);
                            }
                        }
                    });
                },
                get_itemgrid: function (data, callback) {
                    com.ajax({
                        url: '/Plat/Review/GetReviewGrid',
                        data: data,
                        success: function (json) {
                            vm.$data.review = json.Rows;
                            vm.total = json.Total;
                            if (typeof (callback) == 'function') {
                                callback(json);
                            }
                            vm.init_hover();
                        }
                    });
                },
                init_hover: function () {
                    window.setTimeout(function () {
                        $('.comment-list .fadeInUp').each(function () {
                            $(this).hover(function () {
                                $(this).find(".ua-info").css('display', 'inline');
                            }, function () {
                                $(this).find(".ua-info").css('display', 'none');
                            });
                        })
                    }, 1000);
                },
                submit: function () {
                    if (!$('#review-form').Validform()) {
                        return false;
                    }
                    var text = $('#layui_edit').val();
                    if ($.trim(text) == "") {
                        $.layerMsg('请填写评论内容！', 'info');
                        return false;
                    }
                    if ($.trim(text) != "" && $.trim(text).length > 500) {
                        $.layerMsg('评论内容太多了！', 'info');
                        return false;
                    }

                    vm.reply.Text = com.escape(text);

                    com.ajax({
                        url: '/Plat/Review/Add',
                        data: vm.reply,
                        showMsg: true,
                        success: function (d) {
                            $('#layui_edit').val("");
                            if (reply.isLogin == false) {
                                vm.reply.QQ = ""; vm.reply.AuName = ""; vm.reply.AuEmail = ""; vm.reply.PersonalWebsite = "";
                            }
                            vm.init_datagrid();
                        }
                    });
                },
                reply_review: function (id) {
                    console.log(id);
                    $('html,body').animate({
                        scrollTop: $('.scroll-comments').offset().top
                    }, 800);
                    $.each(vm.review, function (i, v) {
                        if (v.Id == id) {
                            vm.reply.PName = v.AuName;
                            vm.reply.PId = v.Id;
                            return false;
                        }
                    });
                },
                cancel: function () {
                    vm.reply.PId = 0;
                    vm.reply.PName = "博主";
                },
                get_relate_list: function () {
                    com.ajax({
                        url: '/App/GetRelateList',
                        data: { Id: '@ViewBag.AId' },
                        showLoading: false,
                        success: function (data) {
                            vm.RelateArt = data.RelateArt;
                            vm.Category = data.Category;
                            vm.RecommendArt = data.RecommendArt;
                            vm.ArchiveFile = data.ArchiveFile;
                            vm.RandomArt = data.RandomArt;
                            vm.ArtTag = data.ArtTag;
                        }
                    });
                },
                point_art: function () {
                    com.ajax({
                        url: '/Plat/PointArticle/Edit',
                        data: {
                            AId: '@ViewBag.AId'
                        },
                        success: function (d) {
                            $.procAjaxMsg(d, function () {
                                vm.pointQuantity++;
                            }, function () {
                                $.layerMsg(d.Message, 'info');
                            });
                        }
                    });
                }
            }
        });

    </script>
}